# =========================================================================
# Regras Gerais e de Segurança (MAIS IMPORTANTES)
# Ignora arquivos de ambiente que contêm senhas, chaves de API, etc.
# =========================================================================
.env

# Arquivos de log
*.log
npm-debug.log*
yarn-error.log*

# =========================================================================
# Python
# Ignora ambientes virtuais, cache e arquivos compilados.
# =========================================================================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
.env/
pip-wheel-metadata/
.pytest_cache/
.ipynb_checkpoints

# Arquivos de distribuição/build
build/
dist/
*.egg-info/


# =========================================================================
# Node.js e JavaScript
# Ignora a pasta de dependências, que é muito pesada.
# =========================================================================
node_modules/
npm-debug.log
package-lock.json.bak
yarn.lock.bak

# Arquivos de build de frameworks de frontend (ex: React, Vue)
# A pasta "build/" já está na seção Python, então não precisa repetir.
.next/ # para Next.js
.output/ # para Nuxt.js


# =========================================================================
# Sistema Operacional e Editores de Código
# Ignora arquivos específicos do sistema e configurações do editor.
# =========================================================================
# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains (PyCharm, WebStorm, etc.)
.idea/
