
.risco-de-lapis {
  position: relative;
}

.risco-de-lapis::after {
  content: '';
  position: absolute;
  bottom: -4px; /* Ajuste a distância do sublinhado */
  left: 0;
  width: 100%;
  height: 4px; /* Ajuste a espessura do sublinhado */
  background-image: linear-gradient(to right, #000000 0%, #000000 20%, transparent 20%, transparent 40%, #000000 40%, #000000 60%, transparent 60%, transparent 80%, #000000 80%, #000000 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.8; /* Adicione um pouco de transparência para parecer mais com grafite */
}